.Sidebar {
    width: 20vw;
    min-height: 100vh;
    background-color: #272932;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;

    .sidebar-logo {
        display: flex;
        align-items: center;
        column-gap: 10px;
        p {
            font-weight: 800;
            font-size: x-large;
        }

        img {
            width: 50px;
            height: auto;
        }
    }

    .sidebar-content {
        min-height: calc(100vh - 50px - 3rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;

        .sidebar-content-links, .sidebar-content-footer {
            display: flex;
            flex-direction: column;
        }
    }

    svg {
        width: 25px;
        height: auto;
    }

    .sc-link {
        text-decoration: none;
        color: whitesmoke;
        padding: 1rem;
        font-size: large;
        display: flex;
        column-gap: 1rem;
        transition: all 0.5s;
        position: relative;
        justify-content: space-between;

        .sc-link-main, .sc-add-task {
            display: flex;
            align-items: center;
            column-gap: 1rem;
        }

        .sc-add-task:hover {
            svg {
                transform: scale(1.1);
            }
        }

        
        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            width: 0;
            height: 2px;
            background: #ffffff;
            transition: width .3s;
        }
        
        &:hover::after {
            width: calc(100% - 5rem);
        }
    }

    #sc-link-settings {
        justify-content: flex-start !important;
    }
}