.TaskForm {
    position: absolute;
    top: 2.5%;
    left: 0;
    width: 20vw;
    min-height: 95vh;
    background-color: #272932;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-left: none;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        .subtasks-container {
            display: flex;
            flex-direction: column;
            padding-left: 2rem;
            row-gap: 5px;

            span {
                border-bottom: 1px solid whitesmoke;
            }
        }

        .taskForm-buttons-container {
            display: flex;
            gap: 1rem;
            
            input {
                width: 100px;
                border-radius: 4px;
                color: whitesmoke;
                border: 1px solid whitesmoke;
                transition: transform 0.3s;
                cursor: pointer;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        input {
            padding: 0.5rem;
            border: none;
            background: none;
            border-bottom: 3px solid #ffa500;
            color: whitesmoke;

            &::placeholder {
                color: whitesmoke;
            }

            &:focus {
                outline: none;
            }
        }
    }
}